
<div class="main_div" style="background-image:url(Assets/images/img1.png);">
<div class="container_div">
   
	<!-- Customized header -->
	 <div class="container_header"> 
		<h1>Hey!</h1>

		<!-- Page content -->
		<div class="content">
			<p>I am Gurwinder Singh. I am 18. I recently graduated from highschool and am currently pursuing Software Engineering technician at the Centennial College.</p>

			<br>
			<!--My Image-->
      		<img class="id" src="Assets/images/Photo.jpeg" width="190" height= "200">

			<br>
			<br>
			
			<p> Studying about Computer Science, Software development and debugging facinates me which is why I have choosen my career in Software Engg. I aim to become a Mobile App designer and a Web developer. I am filled with dedication and enthusiasm and am looking forward to an exciting career in this field. :)</p>     
			<br>

			<!-- Link to my resume -->
			<p>Here is the link to my resume: <a href="Assets/Resume.pdf">My resume</a></p>
			<br>
			<br>
			
			<!-- Customized Footer -->
			<div class="footer">
			<footer>
				<p>©Copyright2021 Gurwinder Singh | 301176745 | Fall 2021 | Comp229</p>
			</footer>
			</div>
					
		</div>
	</div>	
</div>	
</div>

 





