<div class="main_div" style="background-image:url(Assets/images/img1.png);">
    <div class="container_div">
       
        <!-- Customized header -->
         <div class="container_header"> 
            <h1>Hey! <br> I am <%= userName %></h1>
    
            <!-- Main content for the page -->
            <div class="content" >
                <p> Wooho! A website about me, created by me? Welcome, it's great to have you here.
                </p>
                <br>
    
                <!-- Mission Statement -->
    
                <h2 style="color: white; ">Mission Statement</h2>
    
                <blockquote>
                <p style="color: #FDFFBC;">
                    In the next 5 years I aim to see myself as an integral part of the IT boom which is imminant. I want to contribute towards the Software Development Industry and become a knowledgable engineer.I see myself as a Software designer with emphasised knowledge in Object Oriented Programming and ability to program applications in various programming languages.
                </p>
                </blockquote>
                <br>
                <hr>
                <br>
    
                <!-- Quote -->
                <blockquote>“It's not a bug, it's a feature”</blockquote>
                <blockquote>-Anonymous</blockquote>
                <br>
    
                <!-- Customized footer -->
                <div class="footer">
                    <footer>
                        <p>©Copyright2021 Gurwinder Singh | 301176745 | Fall 2021 | Comp229</p>
                    </footer>
                </div>
    
        </div>		
        </div>	
    </div>	
    </div>