<div class="main_div" style="background-image:url(Assets/images/img9.png);">
    <div class="container_div">
       
        <!-- Customized header -->
         <div class="container_header"> 
            <h1>Projects Accomplished!</h1>
    
            <!-- Page content -->
            <div class="content">
                <p>I would like to share some of the prominent projects that I have worked on :)</p>
                
                <!-- Table to insert images of projects and their descriptions -->
                <table>
                    <!-- Table heading -->
                    <tr>
                      <th style="background-color:black; color: white; font-weight: bold;">Projects Implemented</th>
                      </tr>
                    <!-- Project 1 -->
                    <tr>
                      <td style="font-size: 20px; color: #F9F3DF;">
                          <h3><b>Railway Tracking and Arrival Prediction System</b></h3>
                          <ul>
                              <li>The “train track” system will help passengers Track time from departure to arrival of a train from station to station
                              and will give users access to updated information on train schedules.</li>
                              <li>The client-side will be developed using JavaScript, CSS, HTML and the server side will be developed by c# using
                              Console App (.NET Framework).</li>
                          </ul>
                      </td>
                    </tr>
                    <!-- Project 2 -->
                    <tr>
                      <td style="font-size: 20px; color: #F9F3DF;">
                        <h3>UNIX/LINUX OPERATING SYSTEMS</h3>
                        <p>Wrote Shell Scripts to perform various tasks related to files and access.</p>
                      </td>
                    </tr>
                    <!-- Project 3 -->
                    <tr>
                      <td style="font-size: 20px; color: #F9F3DF;">
                        <h3>Shell Script Calculator</h3>
                        <p>Used Linux Shell Scripts to perform basic arithmetic operations</p>
                    </td>
                    </tr>
                </table>
                <br>
                <!-- Customized foorter -->
                <div class="footer">
                    <footer>
                        <p>©Copyright2021 Gurwinder Singh | 301176745 | Fall 2021 | Comp229</p>
                    </footer>
                </div>
    
            </div>	
        </div>	
        </div>	
    </div>
    </div>