<div class="main_div" style="background-image:url(Assets/images/img9.png);">
    <div class="container_div">
    
       <!-- Customized header -->
         <div class="container_header"> 
            <h1><%= title %> Provided by me!</h1>
    
        <!-- Page Content -->
            <div class="content">
    
                <table class="services">
                    <!-- Service 1 -->
                    <tr>
                      <td class="projServices"><img src="Assets/images/Service1.png" width="100%" height= "100%" ></td>
                      <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
                          <h3><b>Web Development</b></h3>
                          <ul><li>Develop and design websites using html, css, javascript, node.js, express.js etc</li><li>Launch websites using platforms like Azure, Google App Engine, Heroku </li><li>Experienced in working with Version control like git</li></ul>
                      </td>
                    </tr>
                    <!-- Service 2 -->
                    <tr>
                        <td class="projServices"><img src="Assets/images/Service2.png" width="100%" height= "100%"></td>
                        <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
                            <h3>Software Engineering</h3>
                            <ul><li>System design</li><li>Debugging and scaling</li><li>Software Testing</li></ul>
                      </td>	
                    </tr>
                    <!-- Service 3 -->
                    <tr>
                          <td class="projServices"><img src="Assets/images/Service3.png" width="100%" height= "100%"></td>
                          <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
                            <h3>Programming</h3>
                            <p><ul><li>Can program a variety of applications using multiple languages like C#, Javascript, Java and Python using Object Oriented, Class based approach. </li></ul></p>
                        </td>
                    </tr>
                    <!-- Service 4 -->
                    <tr>
                        <td class="projServices"><img src="Assets/images/Service4.png" width="100%" height= "100%"></td>
                        <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
                          <h3>DBMS</h3>
                            <p><ul><li>Develop and work with databases like mongoose,mongodb, Oracle database. <li></li> Write SQL queries to manage the databases</li></ul></p>
                      </td>
                    </tr>  
                    <!-- Service 5 -->
                    <tr>
                        <td class="projServices"><img src="Assets/images/Service5.png" width="100%" height= "100%"></td>
                        <td style="font-size: 20px; color: #F9F3DF; border-style: none;">
                            <h3>Operating Systems</h3>
                            <p><ul><li>Experienced in working with Operating Systems like Linux and Windows.<li></ul></p>
                          </td>
                    </tr>  
                </table>
                <br>
                <br>
    
                <!-- Customized footer -->
                <div class="footer">
                    <footer>
                        <p>©Copyright2021 Gurwinder Singh | 301176745 | Fall 2021 | Comp229</p>
                    </footer>
                </div>
    
            </div>	
        </div>
    </div>
    </div>