<div class="main_div" style="background-image:url(Assets/images/img1.png); ">
    <div class="container_div">
    
        <!-- Customized header -->
         <div class="container_header"> 
            <h1> <%= title %></h1>
            <h4 style="font-family: 'papyrus'; text-align: center; color: white;">Lets Connect!</h4>
    
            <div class="content" >
                <!-- Form to take user detail input -->
                <form method="post" action=mailto:http://centennialcollege.ca/continuingeducation>	
                <input type="text" id="name" name="name"placeholder="Enter your Full name:" required = "required" />		
                <input type="email" id="email" name="email"placeholder="Enter your Email Adress" required />		
                <input type="tel" id="phone" name="phone" placeholder="Enter your Mobile number" required />
                <button type="submit" id="Submit" value="Submit">Submit</button>			
                <br>
    
                <!--My Contact Information-->
                <fieldset style="text-align: center; ">
                    <p style="color: white;">Please feel free to contact me. Here are my contact details:</p>
                    <ul style="list-style-type: none;">
                        <li>Email: Gurwinder2052@gmail.com</li>
                        <li>Phone: +16 479960743</li>
                    </ul>	
                </fieldset>
                <br>
    
                <!-- Customized footer -->
                <div class="footer">
                    <footer>
                        <p>©Copyright2021 Gurwinder Singh | 301176745 | Fall 2021 | Comp229</p>
                    <a href="https://www.instagram.com/ibm/?hl=en"><i class="fab fa-instagram"></i> </a>&nbsp; &nbsp;&nbsp; &nbsp;<a
                        href="https://twitter.com/"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a
                        href="https://www.facebook.com/IBM/"><i class="fab fa-facebook"></i></a></p> </footer>
                </div>
        </div>
        </div>	
    </div>
    </div>