<!--Author Name: Gurwinder Singh
Student number: 301176745
Date: 2 October 2021-->

<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/app.js"></script>
</body>
</html>